<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>SYSTEM</title>
    <link href="Scripts/css/index.css" rel="stylesheet" type="text/css">
    <link href="Scripts/common.css?v=70ac5431a336fe9224fa3b69028d34e6" rel="stylesheet" type="text/css">
    <link href="Scripts/app.css?v=490c68f3af0b451d0fa38d2ea95f2e78" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="Scripts/app.js?v=1b949301578c1d4598cf115178720518" type="text/javascript"></script>
  </body>
</html>