<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>SYSTEM</title>
    <link href="Scripts/css/index.css" rel="stylesheet" type="text/css">
    <link href="Scripts/common.css?v=70ac5431a336fe9224fa3b69028d34e6" rel="stylesheet" type="text/css">
    <link href="Scripts/app.css?v=eacf54b9c79fb93a996b13d879f3616b" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="Scripts/app.js?v=13a831bdf90c46eba642ce160e5c7aff" type="text/javascript"></script>
  </body>
</html>