<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>SYSTEM</title>
    <link href="Scripts/css/index.css" rel="stylesheet" type="text/css">
    <link href="Scripts/common.css?v=70ac5431a336fe9224fa3b69028d34e6" rel="stylesheet" type="text/css">
    <link href="Scripts/app.css?v=f05e1204cdc4c6fca5d1f74faa65c005" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="Scripts/app.js?v=4c27ee79d0e312ede1b4a72cb5cdf84e" type="text/javascript"></script>
  </body>
</html>