@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
//@font-face {
//    font-family: element-icons;
//    src: url(fonts/element-icons.woff?t=1472440741) format('woff'),url(fonts/element-icons.ttf?t=1472440741) format('truetype');
//    font-weight: 400;
//    font-style: normal
//}
* {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
    margin: 0;
}

.v-transition {
    transition: all 0.7s ease;
    transform: scale3d(1, 1, 1);
}

.v-enter,
.v-leave {
    transform: scale3d(0, 0, 1);
    opacity: 0;
}

.fade {
    &-enter-active,
    &-leave-active {
        transition: opacity 1.5s
    }
    &-enter,
    &-leave-to {
        opacity: 0
    }
    &-move {
        transition: transform 1s;
    }
}


/* enter、 leave アニメーションで異なる間隔やタイミング関数を利用することができます */

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}